
# Ignore thumbnails created by windows
Thumbs.db

# Visual Studio specific
.vs/
*.vcxproj.user
*.aps
*.sdf
*.ipch
*.opendb
*.tlog
*.lastbuildstate

# Build directories
/x64/
/Debug/
/Release/
/tes3_ri_.1F19A3B2/

# Other temporary files
*.log